<h1><%= @vendor[:attributes][:name] %></h1>

<h4>Contact Info:</h4>
<p>name: <%= @vendor[:attributes][:contact_name] %></p>
<p>phone: <%= @vendor[:attributes][:contact_phone] %></p>
<br>
<p>credit accepted?: <%= @vendor[:attributes][:credit_accepted] %></p>
<br>
<p>description: <%= @vendor[:attributes][:description] %></p>